.sidenav {
  background: #25272e;
  color: #fff;
  height: 100%;
  padding: 0.8em;
  border-right: 1px solid #373943;
}

.sidenav ul {
  padding: 1em;
}

.sidenav ul li {
  list-style: none;
  padding: 0.5em 0;
  border-bottom: 1px solid #373943;
}

.sidenav img {
  float: right;
}
